
#hashtagdetailcontact.section{
    position: relative;
}
/* Title Section */

#hashtagdetailcontact.section h2.title-form {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    color: #505a5e;
    margin:0 0 10px;
}

/*-------------------------*/
/* Hashtag */
/*-------------------------*/
#hashtagdetailcontact{
    border: 1px solid #c8d2d6;
    padding: 40px;
    margin: 30px auto;
    max-width: 600px;
    background: #fff;
}
#hashtagdetailcontact .form-contact{
    margin-bottom: 30px;
}
#hashtagdetailcontact .form-contact label{
    font-weight: normal;
}
#hashtagdetailcontact .form-contact .form-control{
    padding: 20px 12px;
    border-radius: 2px;
}
#hashtagdetailcontact .form-contact textarea{
    min-height: 200px;
}
#hashtagdetailcontact .form-contact .submit-hash-contact{
    height: 70px;
    line-height: 52px;
    width: 100%;
}

@media (max-width: 768px){
    #hashtagdetailcontact.section .header-section .contain-title-form-page{
        padding: 70px 0 60px;
    }
    #hashtagdetailcontact.section h2.title-form {
        text-align: center;
    }
    #hashtagdetailcontact{
        border: none;
        margin: 0;
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
}