
.section{
    position: relative;
}
/* Title Section */
#categorydetail.section .header-section .contain-title-section-page{
    padding: 70px 0 60px;
    background: #283c50;
}
#categorydetail.section .contain-title-section-page h2.title-section {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 500;
    color: #78ccf8;
    text-align: center;
    margin:0 0 10px;
}
#categorydetail.section .contain-title-section-page p.sub-title {
    font-size: 16px;
    color: #2b3539;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #fff;
}
/* Wrap date time Header */
#categorydetail.section .header-section .wrap-date-time {
    padding: 65px 0 25px;
}
#categorydetail.section .header-section .wrap-date-time p.text {
    text-align: right;
    font-size: 18px;
    color: #505A5E;
    font-weight: 600;
}
#categorydetail.section .header-section .wrap-date-time p.text span.blue {
    color: #3497cc;
}

/* Swiper slider */
#categorydetail .body-section{
    margin-top: 10px;
}
#categorydetail .body-section .container{
    position: relative;
}
#categorydetail .body-section .wrap-item-categorydetail{
    padding: 10px;
    display: none;
}
#categorydetail .body-section .item-categorydetail{
    padding: 0 8px;
    border-radius: 5px;
    border: 1px solid #c8d2d6;
    background: #fff;
    position: relative;
}
#categorydetail .body-section .item-categorydetail .wrap-text{
    padding: 10px 0;
    font-size: 12px;
    text-align: left;
}
#categorydetail .body-section .item-categorydetail .wrap-text img{
    margin-right: 20px;
}
#categorydetail .body-section .item-categorydetail .wrap-text span{
    color: #3c464a;
}