
#contact.section{
    position: relative;
}
/* Title Section */

#contact.section h4.title-form {
    text-transform: uppercase;
    color: #505a5e;
    margin:0 0 20px;
    font-weight: bold;
}

/*-------------------------*/
/* Hashtag */
/*-------------------------*/
.contact-bg{
    background: #fafafc;
}
#contact{
    border: 1px solid #c8d2d6;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 600px;
    background: #fff;
    border-radius: 5px;
}
#contact .form-contact label{
    font-weight: normal;
}

#contact .form-contact textarea{
    min-height: 200px;
}
#contact .form-contact .submit-hash-contact{
    line-height: 22px;
    width: 100%;
}

@media (max-width: 768px){
    .contact-bg{
        background: #fff;
        border-top: 1px solid #c8d2d6;
        border-bottom: 1px solid #c8d2d6
    }
    #contact.section .header-section .contain-title-form-page{
        padding: 30px 0;
    }
    #contact.section h4.title-form {
        text-align: center;
    }
    #contact{
        border: none;
        margin: 0;
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
}