
#groupdetail_03.section{
    position: relative;
}
/* Title Section */
#groupdetail_03.section .header-section .contain-title-section-page{
    padding: 70px 0 60px;
    background: #283c50;
}
#groupdetail_03.section .contain-title-section-page h2.title-section {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 500;
    color: #78ccf8;
    text-align: center;
    margin:0 0 10px;
    font-family: 'Josefin Sans', sans-serif;
}
#groupdetail_03.section .contain-title-section-page p.sub-page {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #fff;
    height: 50px;
    line-height: 50px;
}
#groupdetail_03.section .action-page{
    height: 50px;
    line-height: 38px;
    background: #425365;
    color: #fff;
    min-width: 325px;
    border: 1px solid #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s
}
#groupdetail_03.section .action-page.active{
    background: #78ccf8;
    border: 1px solid #78ccf8;
}
@media (max-width: 768px){
    #groupdetail_03.section .action-page{
        width: 100%;min-width: 0;
    }
}
/* Wrap date time Header */
#groupdetail_03.section .header-section .wrap-status {
    padding: 55px 0 65px;
}
@media (max-width: 768px){
    #groupdetail_03.section .header-section .wrap-status {
        padding: 45px 0;
    }
}
#groupdetail_03.section .header-section .wrap-status ul{
    list-style: none;
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
}
#groupdetail_03.section .header-section .wrap-status ul li{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    border: 1px solid #ced2d6;
}
#groupdetail_03.section .header-section .wrap-status ul li a{
    text-align: center;
    display: block;
    width: 100%;
    padding: 15px 0;
}
#groupdetail_03.section .header-section .wrap-status ul li.disabled{
    background: #e2e6ea;
}
#groupdetail_03.section .header-section .wrap-status ul li.disabled a{
    color: #a0a9ae;
}
/* Swiper slider */
#groupdetail_03 .body-section{
    margin-top: -10px;
}
#groupdetail_03 .body-section .container{
    position: relative;
}
#groupdetail_03 .body-section .wrap-item-group{
    padding: 10px;
    display: none;
}
#groupdetail_03 .body-section .item-group{
    padding: 0 8px;
    border-radius: 5px;
    border: 1px solid #c8d2d6;
    background: #fff;
    position: relative;
}
#groupdetail_03 .body-section .item-group .wrap-text{
    padding: 10px 0;
    font-size: 12px;
    text-align: left;
}
#groupdetail_03 .body-section .item-group .wrap-text img{
    margin-right: 20px;
}
#groupdetail_03 .body-section .item-group .wrap-text span{
    color: #3c464a;
}