
#group.section{
    position: relative;
}
/* Title Section */
#group.section .header-section .contain-title-section-page{
    padding: 70px 0 60px;
    background: #283c50;
}
#group.section .contain-title-section-page h2.title-section {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 500;
    color: #5693f0;
    text-align: center;
    margin:0 0 10px;
}
#group.section .contain-title-section-page p.sub-title {
    font-size: 16px;
    color: #2b3539;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #fff;
}

/*-------------------------*/
/* Group */
/*-------------------------*/
/* Row group */
#group .row-group {
    margin-top: 35px;
    border: 2px solid #cdd4d8;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    padding: 25px 150px 40px 40px;
    background: #fff;
}
/* Arrow */
#group .body-section .row-group .wrap-arrow {
    position: absolute;
    width: 65px;
    background: #fafafa;
    top: 0;
    right: 0;
    height: 100%;
}
#group .body-section .row-group .wrap-arrow div.table {
    height: 100%;
    display: table;
    margin-bottom: 0;
}
#group .body-section .row-group .wrap-arrow div.table .table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/* Top group */
#group .row-group .top-row-group {
    margin-bottom: 30px;
}
/* Title */
#group .row-group .top-row-group h4.title-product-group {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 15px;
    text-transform: uppercase;
    color: #505A5E;
}
#group .row-group .top-row-group p.sub-title-product-group {
    font-size: 14px;
    color: #8f9698;
}
/* Right title group */
#group .row-group .top-row-group .wrap-right-top-group {
    padding: 20px 0;
    width: 260px;
    float: right;
    border-radius: 8px;
    background: #fafafa;
    border-radius: 40px;
}
#group .row-group .top-row-group .wrap-right-top-group .inner {
    float: left;
    width: 50%;
    text-align: center;
}
#group .row-group .top-row-group .wrap-right-top-group .inner p{
    margin-bottom: 0;
}
#group .row-group p.text-inner{
    color: #91989a;
}
#group .row-group p.nummber-inner{
    color: #505A5E;
    font-size: 18px;
}
#group .row-group .top-row-group .wrap-right-top-group .inner.inner-left {
    border-right: 1px solid #ebebeb;
}
/* Right mobile group */
#group .row-group .wrap-moblie-content-group .border-right {
    border-right: 1px solid #c0c3c4;
}
#group .row-group .wrap-moblie-content-group {
    padding: 15px 0;
    text-align: center;
    background: whitesmoke;
    font-weight: 700;
}
#group .row-group .wrap-moblie-content-group > div {
    padding: 15px 0;
}
#group .row-group .bottom-row-group .list-bottom-row-group .item img{
    border: 2px solid #c8d2d6;
}
#group .row-group .bottom-row-group .list-bottom-row-group.owl-theme .owl-nav{
    display: none;
}
@media (max-width: 768px){
    #group .body-section .row-group .wrap-arrow {
        width: auto;
        background: none;
        height: auto;
        top: 55px;
        right: 40px;
    }
    #group .row-group{
        padding: 25px 0 0;
    }
    #group .row-group .top-row-group,#group .row-group .bottom-row-group{
        padding: 0 30px;
    }
    #group .row-group .bottom-row-group{
        margin-bottom: 30px;
    }
    #group .row-group .wrap-moblie-content-group {
        padding: 5px 0;
    }
}
/*-------------------------*/
/* End Group */
/*-------------------------*/