
#ranking.section{
    position: relative;
}
/* Title Section */
#ranking.section .header-section .contain-title-section-page{
    padding: 70px 0 60px;
    background: #283c50;
}
#ranking.section h2.title-section {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 500;
    color: #5693f0;
    text-align: center;
    margin:0 0 10px;
}
#ranking.section p.sub-title {
    font-size: 16px;
    color: #2b3539;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #fff;
}
/* Wrap date time Header */
#ranking.section .header-section .wrap-date-time-page {
    padding: 65px 0 25px;
}
#ranking.section .header-section .wrap-date-time-page p.text {
    text-align: right;
    font-size: 18px;
    color: #505A5E;
    font-weight: 600;
}
#ranking.section .header-section .wrap-date-time-page p.text span.blue {
    color: #3497cc;
}

/*-------------------------*/
/* Ranking */
/*-------------------------*/
/* item Ranking */
#ranking .body-section .wrap-item-ranking{
    display: none;
}
#ranking .body-section .item-ranking {
    position: relative;
    color: #c0c3c4;
    margin-top: 60px;
}
#ranking .body-section .item-ranking .wrap-img {
    position: relative;
    border-radius: 7px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
#ranking .body-section .item-ranking .wrap-img span.number {
    position: absolute;
    height: 45px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    font-size: 25px;
    background: #5693f0;
    color: white;
    top: 0px;
    left: 0px;
    border-radius: 5px 0 5px 0;
    -webkit-border-radius: 5px 0 5px 0;
    -moz-border-radius: 5px 0 5px 0;
}
@media (max-width: 768px){
    #ranking .body-section .wrap-item-ranking:first-child .item-ranking .wrap-img span.number{
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 40px;
    }
}
#ranking .body-section .item-ranking .wrap-img img {
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c8d2d6;
    width: 100%;
}
/* Scale hover image*/
.body-section .item-ranking .wrap-img.scale-hover:hover, .body-section .item-ranking .wrap-img.scale-hover.active {
    position: relative;
    -webkit-transform: translate(-5px, -5px) scale(1.1);
    -moz-transform: translate(-5px, -5px) scale(1.1);
    -o-transform: translate(-5px, -5px) scale(1.1);
}
/*-----------*/
#ranking .body-section .item-ranking .wrap-content h3.title-product {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #3c464a;
}
#ranking .body-section .item-ranking .wrap-content p.count {
    font-size: 14px;
    color: #505A5E;
    font-weight: 600;
    margin:0;
}
/*-------------------------*/
/* End Ranking */
/*-------------------------*/
@media (max-width: 768px){
    #ranking .body-section{
        margin-top: 0;
    }
}