
#recommend.section{
    position: relative;
}
/* Title Section */
#recommend.section .header-section .contain-title-section-page{
    padding: 70px 0 60px;
    background: #283c50;
}
#recommend.section .contain-title-section-page h2.title-section {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 500;
    color: #5693f0;
    text-align: center;
    margin:0 0 10px;
}
#recommend.section .contain-title-section-page p.sub-title {
    font-size: 16px;
    color: #2b3539;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #fff;
}
/* Wrap date time Header */
#recommend.section .header-section .wrap-date-time-page {
    padding: 65px 0 25px;
}
#recommend.section .header-section .wrap-date-time-page p.text {
    text-align: right;
    font-size: 18px;
    color: #505A5E;
    font-weight: 600;
}
#recommend.section .header-section .wrap-date-time-page p.text span.blue {
    color: #3497cc;
}

/*-------------------------*/
/* Recommend */
/*-------------------------*/

/* item Recommend*/

#recommend .body-section .wrap-item-recommend{
    margin-top: 20px;
    display: none;
}
#recommend .body-section .item-recommend {
    position: relative;
    color: #c0c3c4;
    margin-bottom: 20px;
}
#recommend .body-section .item-recommend .wrap-img {
    position: relative;
    margin-bottom: 5px;
    border-radius: 7px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
#recommend .body-section .item-recommend .wrap-img span.number {
    position: absolute;
    padding: 6px 17px;
    font-size: 25px;
    background: #5693f0;
    color: white;
    top: 0px;
    left: 0px;
}
#recommend .body-section .item-recommend .wrap-img img {
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c8d2d6;
    width: 100%;
}
/*-----------*/
#recommend .body-section .item-recommend .wrap-content h3.title-product {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #505A5E;
}
#recommend .body-section .item-recommend .wrap-content p.count {
    font-size: 14px;
    color: #505A5E;
    font-weight: 600;
}
/*-------------------------*/
/* End Recommend */
/*-------------------------*/