
#userpage.section{
    position: relative;
}
/* Title Section */
#userpage.section .header-section .contain-title-section-page{
    padding: 40px 0 30px;
    background: #283c50;
}
#userpage.section .contain-title-section-page .avatar{
    margin-right: 20px;
    max-width: 120px;
    border: 2px solid #cdd4d8;
}
#userpage.section .contain-title-section-page h2.husername {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin:30px 0 10px;
}
#userpage.section .contain-title-section-page p.sub-title {
    font-size: 16px;
    color: #2b3539;
    font-weight: 500;
    margin: 0;
    color: #fff;
}
#userpage.section .action-page{
    margin: 35px 0;
    height: 50px;
    line-height: 38px;
    background: #425365;
    color: #fff;
    min-width: 325px;
    border: 1px solid #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s
}
#userpage.section .action-page.active{
    background: #78ccf8;
    border: 1px solid #78ccf8;
}
@media (max-width: 768px){
    #userpage.section .action-page{
        width: 100%;min-width: 0;
    }
}
/* Wrap date time Header */
#userpage.section .header-section .wrap-status {
    padding: 55px 0 65px;
}
@media (max-width: 768px){
    #userpage.section .header-section .wrap-status {
        padding: 45px 0;
    }
}
#userpage.section .header-section .wrap-status ul{
    list-style: none;
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
}
#userpage.section .header-section .wrap-status ul li{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    border: 1px solid #ced2d6;
}
#userpage.section .header-section .wrap-status ul li a{
    text-align: center;
    display: block;
    width: 100%;
    padding: 15px 0;
}
#userpage.section .header-section .wrap-status ul li.disabled{
    background: #e2e6ea;
}
#userpage.section .header-section .wrap-status ul li.disabled a{
    color: #a0a9ae;
}
/*-------------------------*/
/* userpage */
/*-------------------------*/
/* item Recommend*/
#userpage .body-section p.sub-content{
    color: #96a0a4;
    margin: 75px 0 50px;
}
#userpage .body-section{
    margin-top: -20px;
}
#userpage .body-section .wrap-item-userpage{
    display: none;
}
#userpage .body-section .item-userpage {
    position: relative;
    color: #c0c3c4;
    margin-top: 20px;
}
#userpage .body-section .item-userpage .wrap-img {
    position: relative;
    margin-bottom: 5px;
    border-radius: 7px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
#userpage .body-section .item-userpage .wrap-img span.number {
    position: absolute;
    padding: 6px 17px;
    font-size: 25px;
    background: #78ccf8;
    color: white;
    top: 0px;
    left: 0px;
}
#userpage .body-section .item-userpage .wrap-img img {
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c8d2d6;
    width: 100%;
}
/*-----------*/
#userpage .body-section .item-userpage .wrap-content h3.title-product {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #505A5E;
}
#userpage .body-section .item-userpage .wrap-content p.count {
    font-size: 14px;
    color: #505A5E;
    font-weight: 600;
}
/*-------------------------*/
/* End Recommend */
/*-------------------------*/